<div ng-controller="atendimentoCtrl">

    <div class="panel panel-info" ng-show="painelPesquisar">
        <div class="panel-heading">Pesquisar Atendimento</div>
        <div class="panel-body">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="cpf" class="sr-only">CPF:</label>
                    <input type="text" ng-model="cpf_pesquisar" class="form-control" id="cpf" name="cpf" placeholder="CPF">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="nome_pesquisar" class="sr-only">Nome</label>
                    <input type="text" ng-model="nome_pesquisar" class="form-control" id="nome_pesquisar" name="nome"
                        placeholder="Nome">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label for="data_pesquisar" class="sr-only">Data</label>
                    <input type="date" ng-model="data_pesquisar" class="form-control" id="data_pesquisar" name="data_pesquisar"
                        placeholder="Data">
                </div>
            </div>

            <div class="col-md-3">
                <div class="btn-group pull-right">
                    <button class="btn btn-primary" ng-click="pesquisar()">
                        <i class="glyphicon glyphicon-search"></i>&nbsp;Pesquisar
                    </button>
                </div>
            </div>

            <div class="col-md-12 table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>                          
                            <th>CPF</th>
                            <th>Nome</th>
                            <th>data</th>
                            <th>hora</th>
                            <th>status</th>
                            <th class="edicao"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="atendimento in grade_atendimentos">                          
                            <td>{{atendimento.cpf}}</td>
                            <td>{{atendimento.nome}}</td>
                            <td>{{atendimento.data}}</td>
                            <td>{{atendimento.hora}}</td>
                            <td>{{atendimento.status}}</td>
                            <td class="edicao-atendimento" class="edicao">
                                <button class="btn btn-default" ng-hide="atendimento.status=='Concluido'"                           ng-click="atender(atendimento)">
                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="panel panel-info" ng-show="painelEditar">
        <div class="panel-heading">{{titulo}}</div>
        <div class="panel-body">
            <div class="form-group">
                <label for="prescricao">Prescrição</label>
                <textarea  rows="4" cols="50"  ng-model="atendimento.prescricao" 
                class="form-control" id="prescricao" name="prescricao">
                </textarea>             
            </div>
        </div>
        <div class="panel-footer">
            <div class="form-group">
                <div class="btn-group">
                    <button class="btn btn-success" ng-click="salvar()">
                        <i class="glyphicon glyphicon-ok"></i>&nbsp;Salvar
                    </button>
                    <button class="btn btn-default" ng-click="voltar()">
                        <i class="glyphicon glyphicon-share-alt"></i>&nbsp;Voltar
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>