**/api/src/api.web/obj
**/api/src/api.web/bin
**/api/src/api.web/App/sws
**/api/src/api.web/App/resources/js/plugins/appres
**/api/src/api.web/appsettings.json

**/api/src/api.domain/obj
**/api/src/api.domain/bin

**/api/src/api.infra/obj
**/api/src/api.infra/bin

**/api/src/api.testeConsole/obj
**/api/src/api.testeConsole/bin

**/api/src/api.libs/obj
**/api/src/api.libs/bin



